{% load static %}

{% comment %}
datetime formatting: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date
{% endcomment %}

<div class="row">
    <div class="col">
        <div class="media">
            <a class="mr-2" href="#">
               <img class="media-object img-circle img-chat" src="{% static 'images/profile.png' %}">
            </a>
            <div class="media-body">
                <div class="d-flex">
                    <h4 class="flex-grow-1">{{ message.handle }}</h4>
                    <span class="small">{{ message.timestamp | date:'A g:i' }}</span>
                    <div style="transform:scale(.6);transform-origin:top">
                        <select class="form-control d-inline-block w-auto">
                            <option value="">선택</option>
                            <option value="morse">모스부호</option>
                        </select>
                        <button type="button" class="btn btn-white decrypt">복호화</button>
                    </div>
                </div>
                <p class="mb-0">{{ message.message }}</p>
            </div>
        </div>
    </div>
</div>
<hr />
