{% load static %}

{% comment %}
datetime formatting: https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date
{% endcomment %}

<div class="row">
    <div class="col">
        <div class="media">
            <a class="mr-2" href="#">
               <img class="media-object img-circle img-chat" src="{% static 'images/profile.png' %}">
            </a>
            <div class="media-body">
                <div class="d-flex">
                    <h4 class="flex-grow-1">{{ message.name }}</h4>
                    <span class="small">{{ message.date | date:'A g:i' }}</span>
                </div>
                <p class="mb-0">{{ message.text }}</p>
            </div>
        </div>
    </div>
</div>
<hr />
